<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.mapper.BookMapper">

    <select id="selectBookAll" resultType="Book">
        select id, type, name,description from tbl_book;
    </select>

    <select id="selectBookById" resultType="Book">
        select id, type, name,description from tbl_book where id = #{id};
    </select>

    <update id="updateBook">
        update tbl_book
        set type=#{type},
            name=#{name},
            description=#{description}
        where id = #{id};
    </update>

    <delete id="deleteBookById">
        delete
        from tbl_book
        where id = #{id};
    </delete>

    <insert id="saveBook">
        insert into tbl_book
        values (#{id}, #{type}, #{name}, #{description});
    </insert>
</mapper>