<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc-10-ssm-exception:war exploded">
    <output-path>$PROJECT_DIR$/springmvc-10-ssm-exception/target/springmvc-10-ssm-exception</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>springmvc-10-ssm-exception</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc-10-ssm-exception" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-test:5.2.10.RELEASE" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.6" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:1.3.0" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.9" />
          <element id="library" level="project" name="Maven: com.alibaba:druid:1.2.13" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.2.11" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.2.11" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.32" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.9.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.9.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.9.0" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springmvc-10-ssm-exception/target/springmvc-10-ssm-exception/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springmvc-10-ssm-exception/web/Web" />
    </root>
  </artifact>
</component>