<component name="ArtifactManager">
  <artifact type="war" name="springmvc-02-bean-load:war">
    <output-path>$PROJECT_DIR$/springmvc-02-bean-load/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc-02-bean-load</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc-02-bean-load.war">
      <element id="artifact" artifact-name="springmvc-02-bean-load:war exploded" />
    </root>
  </artifact>
</component>