<component name="ArtifactManager">
  <artifact type="war" name="springmvc-11-ssm-page:war">
    <output-path>$PROJECT_DIR$/springmvc-11-ssm-page/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc-11-ssm-page</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc-11-ssm-page.war">
      <element id="artifact" artifact-name="springmvc-11-ssm-page:war exploded" />
    </root>
  </artifact>
</component>